{% extends "base_noheader.html" %}

{% load crispy_forms_tags %}


{% block content %}

  {% for ann in mission.announcements %}
    {{ ann }}
  {% endfor %}

  {% if mission.status == "closed" %}
    <div class="panel panel-success">
  {% else %}
    <div class="panel panel-default">
  {% endif %}
    <div class="panel-heading">
      <h1>
        {{mission.title}}
        <small>{{ mission.reward }} pts</small>
        <span class="pull-right"><small>Track: <a href="{% url 'track_detail' mission.track.id %}">{{ mission.track.title }}</a></small></span>
      </h1>

      {% if mission.status != "locked" %}
        <div class="progress">
		  {% if mission.status == "closed" %}
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ mission.progress }}%">
		  {% else %}
            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ mission.progress }}%">
          {% endif %}
            {% if mission.posts_completed > 0 %}
              <span>{{ mission.posts_completed }} / {{ mission.posts_total }}</span>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  {% if mission.status == "locked" %}
    {% include "puzzle_hero/denied_panel.html" %}
  {% elif mission.disabled %}
    {% include "puzzle_hero/disabled_panel.html" %}
  {% else %}
    {% for post in mission.posts %}
      {% if post.status != "locked" %}
		{% include "puzzle_hero/post_panel.html" with post=post %}
      {% endif %}
    {% endfor %}
    {% if mission.status == "closed" %}
      {% include "puzzle_hero/finished_panel.html" %}
    {% else %}
      {% include "puzzle_hero/flag_submission.html" %}
    {% endif %}
  {% endif %}
{% endblock %}
