{% extends "base_noheader.html" %}
{% load staticfiles %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="container">
        <div class="col-xs-3">
          <img class="team-flag team-flag-xl" src="/static/puzzle_hero/images/flags/{{ team.flag }}.svg"/>
        </div>
        <div class="col-xs-9">
          <h3>
            {{ team.name }}
            <br>
            <small>{{ team.university }}</small>
          </h3>
          <ul class="list-inline">
            <li>rank <b class="text-primary">#{{ team_rank }}</b></li>
            <li class="text-center">-</li>
            <li><b class="text-primary">{{ team.score }}</b> pts</li>
          </ul>
        </div>
      </div>
    </div>

    <div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Players</h3>
    </div>
    <table class="table table-hover">
      {% for player in players %}
        <tr>
          <td width="7%" class="text-center">
            <img class="player-rank player-rank-xs" src="/static/puzzle_hero/images/rank{{ player.rank_level }}.png"/>
          </td>
          <th width="50%">
            <a href="{% url "profile" player.user.id %}">{{ player.display_name }}</a>
          </th>
          <td>rank {{ player.rank_level }}</td>
          <td>score {{ player.score }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Track and Mission Statuses</h3>
    </div>
    <table class="table">
      {% for ts in track_statuses %}
        {% if ts.status == "open" %}
          <tr class="danger">
            <th width="40%">
              <a href="{% url "track_detail" ts.track.id %}">{{ ts.track.title }}</a>
            </th>
            <th width="10%" class="text-success">{{ ts.track.reward }}</td>
            <td width="10%"><i>{{ ts.status }}</i></td>
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ ts.progress }}%">
                  {% if ts.miss_completed > 0 %}
                    <span>{{ ts.miss_completed }} / {{ ts.miss_total }}</span>
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
        {% elif ts.status == "closed" %}
          <tr class="success">
            <th width="40%">
              <a href="{% url "track_detail" ts.track.id %}">{{ ts.track.title }}</a>
            </th>
            <th width="10%" class="text-success">{{ ts.track.reward }}</td>
            <td width="10%"><i>{{ ts.status }}</i></td>
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span>{{ ts.miss_completed }} / {{ ts.miss_total }}</span>
                </div>
              </div>
            </td>
          </tr>
        {% else %}
          <tr class="locked">
            <th width="40%">
              {{ ts.track.title }}
            </th>
            <th width="10%" class="text-success">{{ ts.track.reward }}</td>
            <td width="10%"><i>{{ ts.status }}</i></td>
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                </div>
              </div>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Events</h3>
    </div>
    <table class="table table-hover">
      {% for event in events %}
        <tr>
          <td>{{ event.time }}</td>
          <td>
            {% if event.type == 'flag_submission' %}
              {{ event.player.display_name }} submitted a flag!
            {% elif event.type == 'track_unlock' %}
              {{ event.player.display_name }} unlocked a track!
            {% elif event.type == 'mission_unlock' %}
              {{ event.player.display_name }} unlocked a mission!
            {% else %}
              {{ event.type }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
