{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load treetags %}


{% block content %}

  {% for track_status in track_statuses %}
    {% if track_status.track.disabled == False and track_status.status != "locked" %}
	  {% include "puzzle_hero/track_panel.html" with track=track_status.track json_tree=tree_data|keyvalue:track_status.track.id %}
    {% endif %}
  {% endfor %}

  {% for ann in team_announcements %}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">{{ ann.time }}</h3>
      </div>
      <div class="panel-body">{{ ann.message }}</div>
    </div>
  {% endfor %}

  {% include "puzzle_hero/flag_submission.html" %}

{% endblock %}
