*.log
*.lastbuildstate
*.unsuccessfulbuild
*.obj
*.tlog
*.idb
*.pdb
*.suo
*.filters
*.user
*.opensdf
*.sdf
*.exe
*.ilk
*.ipch
*.pch
*.sln
*.pyc
*.class
*.iml
*.idea/
AIClient_JAVA/.settings/
.metadata/
AIClient_JAVA/bin/.project
.recommenders/
*.mdf
*.ldf
